:root {
    --value: #0080ff;
    /*--increase: #0bc00b;*/
    /*--decrease: #8c1313;*/
    /*--background: #636363;*/
    /*--border: #353535;*/
    /*--title-text: white;*/
    /*--value-text: white;*/
    /*--change-text: white;*/
}