root=true

[*]
# Most of the standard properties are supported
max_line_length=100

# Most frequently used .NET-coding-convention properties are supported
csharp_space_between_parentheses=expressions, type_casts, control_flow_statements
csharp_style_var_for_built_in_types=true

[*.cs]
indent_style=tab
indent_size=tab
tab_width=4
