.statBulletPoint {
	justify-content: space-between;
	flex-direction: row;
}

.statBulletPoint {
	padding-left: 2px;
	padding-right: 2px;
}

.statBulletPoint .damage {
	color: rgb(255, 100, 100);
}

.statBulletPoint .healing {
	color: rgb(30, 255, 30);
}

.statBulletPoint .range {
}

.statBulletPoint .costs {
	/* color: blue; */
}

.statBulletPoint .defense {
}

.statBulletPoint .goldvalue {
}
