/* for a generic tooltip block */
.tooltipElement { 
	position: absolute;
	align-self: center;
	width: 200px;
	
    background-color: #464646;
	color: white;

    padding: 5px 20px;
    
    border-width: 3px;
    border-radius: 5px;
}

.tooltipHeader {
	-unity-font-style: bold;
	-unity-text-align: middle-center;
	padding-bottom: 3px;
}

.itemAbilityHeader {
	padding-top: 3px;
	-unity-font-style: bold;
}

.tooltipLayer {
	width: 100%;
	height: 100%;
}